<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="container col-10 p-3 mb-2 bg-white">
      <ul class="nav">
        <li class="col-3 nav-item">
          <a class="navbar-brand nav-link disabled" href="#">
            <img src="/pildid/logo.svg" alt="Logo">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-primary text-white" href="events">AVALEHT</a>
        </li>
        <li class="col-6 nav-item">
          <a class="nav-link" href="#">ÜRITUSE LISAMINE</a>
        </li>
        <li class="nav-item">
          <div class=" navbar-brand nav-link disabled">
            <img src="/pildid/symbol.svg">
          </div>
        </li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row mt-3 ">
    <div class="col-1"></div>
    <div class="col-3 gx-0">
      <h3 style="object-fit: none;
            object-position: center;
            width: 100%;
            max-height: 100px;
            margin-bottom: 1rem;" class="bg-primary text-white h-100 p-4">Osavõtjad</h3>
    </div>
    <div class="col-7 gx-0">
      <img style="object-fit: none;
            object-position: center;
            width: 100%;
            max-height: 100px;
            margin-bottom: 1rem;" id=lible src="/pildid/libled.jpg" class="" alt="...">
    </div>
    <div class="col-1"></div>
  </div>

  <form th:object="${participants}" th:action="@{/participants}" method="post">

    <input th:field="*{id}" type="hidden">

    <label for="firstname">Eesnimi</label>
    <input id="firstname" th:field="*{firstName}" type="text" >

    <div th:errors="*{firstName}" class="invalid-feedback"></div>

    <label for="lastname">Perenimi</label>
    <input id="lastname" th:field="*{lastName}" type="text" >

    <div th:errors="*{lastName}" class="invalid-feedback"></div>

    <label for="ssn">Isikukood</label>
    <input id="ssn" step="any" th:field="*{ssn}" type="number" >

    <div th:errors="*{ssn}" class="invalid-feedback"></div>

    <label for="payment" class="col-2">Makseviis</label>
    <select name="payment" id="payment" th:field="*{payment}">
      <option value="bank_transfer">Pangaülekanne</option>
      <option value="cash">Sularaha</option>

      <div th:errors="*{payment}" class="invalid-feedback"></div>
    </select>

    <label for="info" class="col-2">Info</label>
    <input id="info" th:field="*{info}"  type="text" class="col-3">

    <div th:errors="*{info}" class="invalid-feedback"></div>

    <button type="submit" class="btn btn-primary custom_button">Salvesta</button>


  </form>

</div>
</body>
</html>